
.task_body_wrapper{
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

.Update_task_heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.update_body_form_wrapper{
    background-color: #ffffff;
    /* background-color: #F0F4F9; */
    
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 15px  1px rgb(220, 220, 220);
}
.task_input {
    width: 45%;
    padding: 10px;
    border: 0.3px solid #c4aef0d3;
    /* border: 1px solid #E9E8EB; */
    /* border: 1px solid red; */
    border-radius: 10px;
    font-size: 16px;
    /* background-color: rgb(244, 241, 241); */
    outline: none;
    margin-top: 20px;
    margin-right: 20px;
}

.back_heading_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}