* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.profile_wrapper {
    /* padding: 40px; */
    /* background-color: #eae9e9; */
    background-color: #F0F4F9;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_content {
    /* background-color: #F7F2FA; */
    background-color: #ffffff;
    /* background-color: #F0F4F9; */
    
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    margin: auto;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 15px  1px rgb(220, 220, 220);
    
}

.main_heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    /* margin-bottom: 20px; */
}

.email_input {
    /* width: 100%; */
    width: 45%;
    padding: 10px;
    border: 0.3px solid #c4aef0d3;
    /* border: 1px solid #E9E8EB; */
    /* border: 1px solid red; */
    border-radius: 10px;
    font-size: 16px;
    /* background-color: rgb(244, 241, 241); */
    outline: none;
    margin-top: 20px;
    margin-right: 20px;

}


@media  screen and (max-width:679px) {
    .email_input{
        width: 80%;
    }
    
}

.save_btn{
    /* background-color: #6E00BE; */
    background-color: green
    ;

    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* margin: 20px 0px; */
}

.save_btn_wrapper {
    width: 86%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px;
}

.heading_close_wrapper {
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* opacity: ; */
}

.close_icon{
    opacity: 0.7;
    cursor: pointer;
}