*{
    margin: 0;
    padding: 0;
}

.dashboard_bg_wrapper {
    background-color: white;
    height: 100vh;
}

.dashboard_body {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.tasks_heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    /* margin-bottom: 20px; */
}

.dashboard_body {
    padding: 20px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.tasks_heading {
    font-size: 24px;
    margin: 0;
}

.right_side_container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.btn-success {
    background-color: #28a745;
}

.table_wrapper {
    margin-top: 20px;
    /* border: 1px solid black; */
}

.tasks_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #E9E8EB   ;
}

/* E9E8EB */
.tasks_table th {
    /* border: 1px solid #ddd; */
    /* border: 1px solid red; */
    padding: 12px;
    text-align: left;
}
.tasks_table td{

    padding: 12px;
    text-align: left;
    background-color: white;
    border-bottom: 1px solid #E9E8EB;
}
.tasks_table th {
    /* background-color: #f4f4f4; */
    background-color: gray;
    font-weight: bold;
    color:#ffffff;
}

.tasks_table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.action_icons{
    cursor: pointer;

}


.filter_wrapper {
    padding: 10px;
    
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    /* margin-top: 20px; */
    margin-right: 20px;
    /* width: 45%; */
    width: 250px;
    display: flex;
    justify-content: space-between;
    
}