* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.background_wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../assets/banner.jpg');
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_box {
    width: 380px;
    height: 480px;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    
}

.button_box {
    width: 220px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* border-bottom: 1px solid gray; */
}

.toggle_btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 15px;
    position: relative;
    transition: color 0.3s, border-bottom 0.3s;
    
    outline: none   ;
}

.toggle_btn.active {
    color: #ff105f;
    border: none;
    border-bottom: 2px solid #ff105f;
    outline: none;
}

.social_icons {
    margin: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 20px;
    
}

.social_icons img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px #7f7f7f3d;
    cursor: pointer;
    
}

.form_content {
    width: 280px;
    position: absolute;
    top: 120px;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.login_active {
    transform: translateX(0);
    animation: login_slide 0.3s ;
    /* timing-function delay iteration-count direction fill-mode; */
}


@keyframes login_slide {
    0%{
        transform: translate(-100%);
    }
    100%{
        transform: translate(0);
    }
}

.register_active {
    animation: register_slide 0.3s ;
    /* timing-function delay iteration-count direction fill-mode; */
}


@keyframes register_slide {
    0%{
        transform: translate(100%);
    }
    100%{
        transform: translate(0%);
    }
}

.input_group {
    width: 100%;
    text-align: center;
}

.input_field {
    width: 100%;
    padding: 10px 0;
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.submit_btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold  ;
    color: white;
    outline: none;
}

.password_wrapper {
    width: 100%;
    position: relative;
}

.password_toggle {
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}


.line_wrapper {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    top: 265px;
}

.horizontal_line {
    width: 80%;
    border: 0;
    border-top: 2px solid #ddd;
   
}

.line_text {
    position: absolute;
    background: #fff;
    padding: 0 10px;
    font-size: 14px;
    color: #777;
}

